/CadEditor/*.nes
/CadEditor/obj/x86/Debug
/PluginHexEditor/obj/Debug
/PluginLevelParamsCad/obj/Debug
/PluginMapEditor/obj/Debug
/PluginVideoNes/obj/Debug
/PluginVideoSega/obj/Debug
/PluginExportScreens/obj/Debug
/PluginChrView/obj/Debug
/PluginEditLayout/obj/Debug
/CadEnemyEditor/obj/x86/Debug
/PluginSegaBackEditor/obj/Debug
/CadEditor/*.pdb
/CadEditor/*.deb
/SettingsVerifier/obj/Debug
